button {
    font-size: 2em;
}

#roll-buttons {
    max-width: 100%;
}

#controls {
    margin-top: 1em;
    max-width: 100%;
}

#controls > button {
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
}

body {
    text-align: center;
}
